name: Decrypt and update website
on:
  push:
    branches: [ main ]

jobs:
  decrypt-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Create HTML file
      run: |
        KEY="${{ secrets.DECRYPTION_KEY }}" python ./nlistr_db_updater.py

    - name: Copy site via SCP
      uses: appleboy/scp-action@v1
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        password: ${{ secrets.SSH_PASSWORD }}
        port: 22
        source: "site/**"
        target: "${{ secrets.SSH_TARGET_PATH }}"
        strip_components: 1